/* styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/*footer will have same background colour as here*/
.one {
    background-color: rgba(81, 164, 81, 0.379);
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 200px;
    width: 200px;
    margin-left: 150px;
}

.right-links {
    display: flex;
    font-size: 18px;
    gap: 13px;
    align-items: center;
    margin-right: 150px;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.left-intro {
    max-width: 400px;
    margin-left: 150px;
}

.introimg {
    height: 300px;
    width: 500px;
    margin-right: 150px;
}

.title {
    font-size: 48px;
    font-weight: extra-bold;
    color: rgb(245, 255, 245);
    margin-bottom: 5px;
}

.title-text {
    color: rgb(53, 56, 53);
    font-size: 24px;
    margin-bottom: 8px;
}

.intro-btn {
    color: white;
    background-color: rgb(53, 56, 53);
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    border-radius: 8px;
}


/* Second section */

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-two {
    color: rgb(53, 56, 53);
    font-size: 36px;
    font-weight: extra bold;
    padding: 40px 0px;
}

.boxes {
    display: flex;
    gap: 60px;
    margin-bottom: 60px;
}

.box-one, .box-two, .box-three, .box-four {
    max-width: 170px;
}

.icon {
    width: 160px;
    height: 160px;
    border-color: rgb(53, 56, 53);
    border-radius: 8px;
    border-width: 4px;
    border-style: solid;
}

.img-subtext {
    text-align: center;
    color: rgb(53, 56, 53);
}



/* Third section */
.three {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 150px 250px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: rgb(53, 56, 53);
    align-self: center;
}

.source {
    color: rgb(114, 102, 63);
    align-self: flex-end;
    font-size: 24px;
    font-style: bold;
}






/* links and lists */
a {
    text-decoration: none;
    color: rgb(53, 56, 53);
}

ul {
    list-style-type: none;
}